[Desktop Entry]
Name=Backspace
Comment=Self-hosted text, voice, and video communication
Exec=backspace %U
Terminal=false
Type=Application
Icon=io.github.TheZwiss.backspace
StartupWMClass=io.github.TheZwiss.backspace
Categories=Network;Chat;InstantMessaging;
MimeType=x-scheme-handler/backspace;
Keywords=chat;voice;video;federation;self-hosted;
